// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);

  img {
    filter: invert(1);

    &.ioda {
      filter: invert(0);
    }
  }

  .gist {
    filter: invert(0);
  }

  .emoji {
    filter: invert(1);
  }
}

body[a="dark"] {
  @include dark-appearance;
}


@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html,
body {
  background: white;
}

html {
  height: 100%;
}

body {
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h1 {
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: rgb(0, 255, 42);
}

a:link {
  color: rgb(222, 19, 205);
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(222, 19, 205);
}

::selection {
  color: rgb(222, 19, 205);
}

.w {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

table {
  width: 100%;
}

code {
  color: black;
  background: white
}

p {
  text-align: justify;
  text-justify: inter-word;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

figure pre {
  background-color: rgb(241, 241, 241);
  border-radius: 2%;
  display: block;
}

figure pre code {
  background-color: rgb(241, 241, 241);
  overflow-x: auto;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
  left: 10px;
  position: relative;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 3%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

div.gist-data table,
th,
td {
    border: thin solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 0.4rem
}
